.experience {
    background-color: var(--background-gray);
    padding-bottom: 2rem;
    width: 100%;
}

.experience__title {
    color: var(--color-title);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.experience__container {
    margin: 0 auto;
    width: 80%;
}
.experience__container_box {
    display: flex;    
}

.experience__container__box__image {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 752px;    
}

.experience__container__box__info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.experience__container__box__info--title {
    color: var(--color-title);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

.experience__container__box__info--text {
    color: var(--color-paragraph);
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

.experience__container__box__info__buttons {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding-top: 0.5rem;
    
}

.experience__container__box__info__buttons--repo {
    border: 1px solid var(--color-border);    
    color: var(--color-text-blue);
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem;    
}

.experience__container__box__info__buttons--repo > a:visited {
    color: var(--color-text-blue);
}

.experience__container__box__info__buttons--repo:hover {
    background: var(--color-hover-white);    
    border: 1px solid var(--color-border);
}

.experience__container__box__info__buttons--demo {
    border: none;  
    background: var(--background-buttom-blue);
    color: var(--color-text-white);    
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;   
    padding: 1rem;
}

.experience__container__box__info__buttons--demo > a:visited {
    color: var(--color-text-white);
}

.experience__container__box__info__buttons--demo:hover {
    background: var(--color-hover-blue);  
}

@media screen and (max-width: 1023px) {
    .experience__container_box {
        display: flex;   
        flex-direction: column; 
    }
    
    .experience__container__box__image {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-bottom: 1rem;
        width: 100%;    
    }

    .experience__container__box__info {
      align-items: center;  
    }
}